<h3 class="recipe-content__title">Lorem ipsum</h3>
<p class="recipe-content__text recipe-content__text--ipsum">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus esse magnam facilis asperiores sint, ut quos
    mollitia? Cum ipsum omnis sed neque repudiandae pariatur eum eaque! Molestiae nemo sequi harum vel quos, veniam iure
    autem quia dolorum quas sit excepturi praesentiums ipsa.
</p>
<h3 class="recipe-content__title">Lorem ipsum</h3>
<p class="recipe-content__text recipe-content__text--ipsum">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad
    excepturi voluptatibus quas
    illo ipsa dicta qui eos vitae? Ipsam, itaque.</p>