<p class="recipe-content__descr">Lorem ipsum dolor sit amet, consectetur</p>
<ul class="recipe-content__list">
    <li class="recipe-content__item">
        <p class="recipe-content__text">
            Lorem ipsum dolor sit amet </p>
        <p class="recipe-content__text">1,1мг</p>
    </li>
    <li class="recipe-content__item">
        <p class="recipe-content__text">
            Lorem ipsum dolor sit amet
        </p>
        <p class="recipe-content__text">4,4мг</p>
    </li>
    <li class="recipe-content__item">
        <p class="recipe-content__text">
            Lorem ipsum dolor sit
            amet</p>
        <p class="recipe-content__text">1,1мг</p>
    </li>
    <li class="recipe-content__item">
        <p class="recipe-content__text">
            Lorem ipsum dolor sit
            amet</p>
        <p class="recipe-content__text">1,1мг</p>
    </li>
    <li class="recipe-content__item">
        <p class="recipe-content__text">
            Lorem ipsum dolor sit
            amet</p>
        <p class="recipe-content__text">2,2мг</p>
    </li>
    <li class="recipe-content__item">
        <p class="recipe-content__text">
            Lorem ipsum dolor sit
            amet</p>
        <p class="recipe-content__text">1,1мг</p>
    </li>
</ul>
<p class="recipe-content__descr">Lorem ipsum dolor sit amet</p>