$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;
$animation-breakpoint: 1320px;

$primary-white-color: #ffffff;
$primary-pink-color: #cf003f;
$light-blue-color: #99dee3;

$primary-text-color: #7c7c7c;
$secondary-text-color: #626262;

$primary-font-stack: "Lato", sans-serif;

$descr-font-size: calc(14px + 0.5vw);
$descr-title-font-weight: 600;

$main-title-font-size: calc(24px + 1vw);
$main-title-font-weight: 900;


$subtitle-font-size: calc(18px + 0.5vw);
$subtitle-font-weigth: 400;

$xs-recipe-descr-font-size: calc(13px + 0.5vw);
$lg-recipe-descr-font-size: calc(15px + 0.5vw);

$xs-recipe-font-size: calc(13px + 0.5vw);
$recipe-font-weight: 300;

