.recipe-page-wrapper {
    background: linear-gradient(
      7deg,
      #fff,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.9) 20.71%,
      rgba(255, 255, 255, 0.8) 31.71%,
      rgba(255, 255, 255, 0.4) 39.71%,
      transparent 43.71%
    );
    height: auto;
    overflow: hidden;
    position: relative;
  }
  